delta==0.4.2
delta-spark==3.2.0
duckdb==1.0.0
importlib_metadata==8.0.0
numpy==2.0.0
pandas==2.2.2
py4j==0.10.9.7
pyspark==3.5.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzdata==2024.1
zipp==3.19.2
